* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body  {

}
.sezione {
  width: 1000px;
  height: 100px;
  margin: auto;
  background-color: yellow;
}
.banner {
  width: 1000px;
  height: 400px;
  background-color: red;
  margin: auto;
  margin-top: 40px;
}
.sezione::after {
  content: "";
  display: block;
  margin: auto;

}
